# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

public class JavaStudy {
	public static void main(String[] args){
		for(int i=0;i<3;i++)
		{
			for(int j=0;j<3-i;j++)
				System.out.print(" ");
			for(int k=0;k<2*i+1;k++)
				System.out.print("*");
			System.out.println("");
		}
	}
}
